@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.marquee-wrapper {
  @apply p-2.5;
}

.marquee-list {
  display: inline-block;
  animation-name: marquee;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  will-change: transform;
}

.marquee-item {
  @apply mx-[5px] box-border inline-block;
}
