.review {
  @apply flex flex-col gap-[21px] rounded-[20px] bg-whiteo5 p-5;

  .__head {
    .__stars {
      @apply flex h-[60px] w-[97px] items-center justify-between;

      .__icon {
        @apply text-lightTone;
      }
    }
  }

  .__footer {
    @apply mb-[21px] flex gap-2.5;

    .__avatar {
      @apply h-[44px] w-[44px] rounded-[20px];

      img {
        @apply h-full w-full rounded-[12px];
      }
    }

    .__bio {
      h5 {
        @apply text-white;
      }

      p {
        @apply text-white/80;
      }
    }
  }
}

.review-with-icon {
  @apply h-min w-[330px];
  will-change: transform;

  ._container {
    @apply relative h-min w-[330px] shrink-0;

    ._wrapper {
      @apply relative flex h-min items-start gap-[17px] overflow-hidden rounded-[20px] border border-whiteo30 bg-blacko10 p-[20px];
      flex-flow: column;

      .__top_content {
        @apply relative flex h-min w-full flex-[0_0_auto] items-center gap-[10px] overflow-visible p-0;
        flex-flow: column;

        .-star_ratting {
          @apply relative flex h-min w-full flex-[0_0_auto] items-center gap-[7px] overflow-hidden p-0;
          flex-flow: row;

          svg {
            @apply text-lightTone;
          }
        }

        .-comment {
          @apply relative flex h-min w-full flex-[0_0_auto] items-center gap-[10px] overflow-visible pt-[30px];
          flex-flow: row;

          .-text_container {
            @apply relative h-auto flex-[1_0_0px] shrink-0 justify-start opacity-[0.8];
          }

          .-quoteMark {
            @apply absolute top-[0px] left-[-10px] z-[-1] flex h-min w-min flex-[0_0_auto] items-center overflow-visible p-0;

            .svgContainer {
              @apply relative h-[55px] w-[55px] flex-[0_0_auto] shrink-0 rotate-[180deg] opacity-[0.3];
              image-rendering: pixelated;
            }
          }
        }
      }

      .__bottom_content {
        @apply relative flex h-min w-full flex-[0_0_auto] flex-col items-center gap-[10px] overflow-visible p-0;

        .divide {
          @apply relative h-[1px] w-full bg-whiteo10;
        }

        .user_info {
          @apply relative flex h-min w-full flex-[0_0_auto] items-center gap-[10px] overflow-hidden p-0;

          ._avatar {
            @apply relative flex h-[52px] w-[52px] flex-[0_0_auto] items-center overflow-hidden rounded-[20px] bg-lightGray p-[4px];
            aspect-ratio: 1/1;

            ._container {
              @apply relative w-full flex-[1_0_0px] overflow-hidden rounded-[17px];

              img {
                @apply block h-full w-full;
                object-position: center center;
                object-fit: cover;
              }
            }
          }

          ._nameAndJob {
            @apply relative flex h-min flex-[1_0_0px] flex-col items-center gap-0 overflow-hidden p-0;

            .-name {
              @apply justify-start;

              h5 {
                @apply text-white;
              }
            }

            ._job {
              @apply justify-start;
            }
          }
        }
      }
    }
  }
}
