.about {
  .hero {
    @apply relative flex w-full flex-none flex-nowrap items-end justify-center gap-[10px] overflow-hidden sm:h-[50vh] sm:px-[30px] sm:py-[40px] md:pt-[40px] md:pb-[60px] lg:h-[80vh];

    ._imageContainer {
      @apply absolute z-[1] flex-none overflow-hidden rounded-[30px];
      filter: brightness(1);
      inset: 90px 40px 40px;

      .-image {
        @apply absolute inset-0;
        border-radius: inherit;

        img {
          @apply block h-full w-full;
          border-radius: inherit;
          object-fit: cover;
          object-position: center center;
        }
      }
    }

    ._backgroundGradient {
      @apply absolute z-[1] h-full w-full overflow-hidden opacity-[0.75];
      background: linear-gradient(
        180deg,
        rgba(191, 51, 19, 0) 19.980063795853216%,
        var(--color-darkTone, rgb(10, 10, 10)) 73%
      );
      left: calc(2.13163e-14%);
      top: calc(2.13163e-14%);
    }

    ._content {
      @apply relative z-[1] h-auto flex-[1_0_0px] shrink-0 justify-start sm:max-w-none md:max-w-[490px] lg:max-w-[740px];
      text-shadow: 0px 1px 100px #000000;

      p {
        @apply text-center text-lightTone;

        span {
          @apply inline-block p-[5px];
          background-clip: text;
          -webkit-text-fill-color: transparent;
          background-image: conic-gradient(
            from 0deg at 49% 56.89999999999999%,
            var(--color-lightTone, rgb(245, 131, 39)) 129.6deg,
            rgba(0, 0, 0, 0) 169.2deg,
            rgb(127, 68, 20) 172.79999999999998deg
          );
        }
      }
    }
  }

  .company {
    @apply px-3 py-[50px] md:px-10 md:py-[80px] lg:py-[100px];

    .__wrapper {
      @apply mx-auto flex max-w-[1440px] flex-col gap-[32px] md:gap-[60px];

      .__footer {
        @apply grid grid-cols-1 gap-[40px] md:gap-[60px] lg:grid-cols-2;

        .__content {
          @apply break-normal text-whiteo50;
        }

        .__accordion {
          @apply flex flex-col gap-2.5;
        }
      }
    }
  }

  .brand {
    @apply px-5 py-[50px] md:px-10 md:py-[80px] lg:py-[100px];

    .__wrapper {
      @apply mx-auto flex max-w-[1440px] flex-col gap-[20px];

      .__footer {
        @apply shrink-0;
      }
    }

    .TagAndHeading {
      .section_name {
        @apply max-w-[500px];
      }
    }
  }

  .value {
    @apply relative z-[1] flex h-min w-full flex-[0_0_auto] flex-col items-center overflow-hidden sm:gap-[50px] sm:px-[20px] sm:py-[100px] md:gap-[20px] md:px-[40px] md:pt-[200px] md:pb-[100px];

    ._container {
      @apply absolute md:top-1/2 sm:top-0 left-1/2 -translate-x-1/2 md:-translate-y-1/2 sm:-translate-y-0 flex h-auto w-full flex-[0_0_auto] shrink-0 justify-start whitespace-pre outline-none overflow-visible;
      flex-direction: column;

      ._textContent {
        @apply h-full w-full overflow-visible;
        transform: scale(1, 1);
        transform-origin: center center;
        --aspsect-retro: auto;
        .__text {
          @apply text-center font-Unbounded text-[20vw] leading-[1.2] font-normal whitespace-pre text-white uppercase;
        }
      }
    }
  }

  .process {
    @apply px-3 py-[50px] md:py-[80px] lg:px-[50px] lg:py-[100px];

    .__wrapper {
      @apply mx-auto flex max-w-[1440px] flex-col gap-[60px];

      .__footer {
        @apply flex h-[447] flex-col items-center justify-center gap-2.5 md:gap-0;
      }
    }
  }

  .gallery {
    @apply px-2.5 py-[50px] md:py-[80px] lg:px-10 lg:py-[100px];

    .__wrapper {
      @apply mx-auto max-w-[1440px];

      .__wrapper {
        @apply flex flex-col gap-5 px-[30px] pb-[60px];

        .__sub-header {
          @apply flex justify-center lg:justify-end;

          p {
            @apply max-w-[500px] text-center font-thin text-white opacity-70 lg:text-left;
          }
        }
      }

      .__gallery {
        @apply flex flex-col gap-2.5;
      }
    }
  }

  .questions {
    @apply px-3 py-[50px] md:px-10 md:py-[80px] lg:py-[100px];

    .__wrapper {
      @apply mx-auto flex max-w-[1440px] flex-col gap-[60px];

      .__accordion {
        @apply flex flex-col items-center justify-center gap-5;

        .__accordion-item {
          @apply h-fit max-w-[1000px];
        }
      }
    }
  }
}
