.detail {
  .__headingPage {
    @apply flex flex-col gap-[60px] px-[20px] pt-[120px] md:px-[40px];

    .__image {
      @apply mx-auto max-w-[1440px];

      img {
        @apply w-[1fr] rounded-[30px] object-cover;
      }
    }
  }

  .benefits {
    @apply px-3 py-[50px] md:px-[40px] md:py-[80px] lg:py-[100px];

    .__wrapper {
      @apply mx-auto flex max-w-[1440px] flex-col gap-[39px];

      .__accordion {
        @apply grid grid-cols-1 gap-2.5 lg:grid-cols-2;
      }
    }
  }

  .services {
    @apply px-3 py-[50px] md:px-[40px] md:py-[80px] lg:py-[100px];

    .__wrapper {
      @apply mx-auto flex max-w-[1440px] flex-col gap-[39px];

      .__introduction {
        p {
          @apply opacity-70;
        }
      }

      .__body {
        @apply mx-auto flex max-w-[800px] flex-col gap-[20px];

        .paragraphM {
          @apply font-bold;
        }

        p {
          @apply opacity-70;
        }
      }
    }
  }

  .whyChooseUs {
    @apply flex flex-[0_0_auto] items-center gap-[60px] h-min overflow-visible w-full z-[1] relative;
    .bg_gradient {
      @apply absolute top-[50%] left-[50%] z-[1] md:h-[432px] sm:h-[1038px] w-[72%] flex-[0_0_auto] overflow-hidden opacity-[0.56];
      aspect-ratio: 1.34951 / 1;
      height: var(--aspsect-retro, 641px);
      background: radial-gradient(
        50% 50% at 50% 50%,
        var(--color-lightTone, #e85442) 0%,
        rgba(232, 84, 65, 0) 100%
      );
      transform: translate(-50%, -50%);

      @media only screen and (max-width: 809px) {
        aspect-ratio: unset;
        left: calc(14%);
        top: calc(51.9418% - 519px);
        transform: unset;
      }
    }

    ._container {
      @apply relative z-[1] flex h-min lg:max-w-[1440px] mx-auto flex-[1_0_0px] flex-col overflow-visible p-0 sm:justify-normal sm:gap-[40px] md:max-w-[1000px] md:justify-start md:gap-[60px] lg:justify-normal;

      ._card_container{
        @apply flex flex-[0_0_auto] sm:gap-[10px] lg:gap-[23px] items-start h-min lg:max-w-[1440px] overflow-hidden p-0 relative w-full;
        flex-flow: column;

        .__grid{
          @apply md:grid sm:flex sm:flex-col sm:items-center flex-[0_0_auto] gap-[10px] h-min justify-center overflow-hidden p-0 relative w-full z-[1];
          grid-auto-rows: minmax(0px, 1fr);
          grid-template-columns: repeat(3, minmax(200px, 1fr));
          grid-template-rows: repeat(2, minmax(0px, 1fr));
          @media only screen and (min-width: 810px) and (max-width: 1199px) {
            gap: 3px;
            grid-template-columns: repeat(2, minmax(200px, 1fr));
          }
        }
      }
    }
  }

  .brands {
    @apply px-3 py-[50px] md:px-[40px] md:py-[80px] lg:py-[100px];

    .__wrapper {
      @apply mx-auto flex max-w-[1440px] flex-col gap-[20px];
    }
  }

  .process {
    @apply px-3 py-[50px] md:px-[40px] md:py-[80px] lg:py-[100px];

    .__wrapper {
      @apply mx-auto flex max-w-[1440px] flex-col gap-[60px];

      .__footer {
        @apply flex h-[447] flex-col items-center justify-center gap-2.5 md:gap-0;
      }
    }
  }

  .questions {
    @apply px-3 py-[50px] md:px-[40px] md:py-[80px] lg:py-[100px];

    .__wrapper {
      @apply mx-auto flex max-w-[1440px] flex-col gap-[60px];

      .__accordion {
        @apply flex flex-col items-center justify-center gap-5;

        .__accordion-item {
          @apply h-fit max-w-[1000px];
        }
      }
    }
  }
}
