.home {
  .hero {
    @apply relative flex h-min w-full flex-col justify-center gap-[31px] overflow-hidden pt-[180px];

    .heading-content {
      @apply relative flex w-full flex-col items-center justify-center gap-[32px] overflow-visible px-[40px] sm:px-[20px];

      .subheading {
        @apply relative flex h-min w-full max-w-[800px] flex-wrap items-center justify-center gap-[10px] overflow-visible p-0 sm:content-center md:content-normal;

        .__text {
          @apply relative flex h-auto w-auto shrink-[0] flex-col justify-start overflow-visible whitespace-pre-wrap outline-none sm:max-w-[400px] md:max-w-none;
          word-break: break-word;
          word-wrap: break-word;
        }

        .bg-text {
          @apply rotate-[3deg] bg-lightTone;

          h1 {
            @apply rotate-[-3deg] text-darkTone;
          }
        }

        .bg-icon {
          @apply flex h-[73px] w-[73px] items-center justify-center overflow-hidden rounded-full bg-lightTone p-0 sm:h-[48px] sm:w-[48px];

          .__icon {
            @apply rotate-[-16deg];
          }
        }
      }

      .rich-text {
        @apply relative h-auto w-full flex-none whitespace-pre-wrap sm:max-w-[400px] md:max-w-[600px];
        word-break: break-word;
        word-wrap: break-word;

        p {
          @apply text-center;
        }
      }
    }

    .background_gradient {
      @apply absolute bottom-0 z-[-1] h-[855px] w-full overflow-hidden sm:h-[331px] md:h-[671px];
      background: linear-gradient(
        180deg,
        rgba(191, 51, 19, 0) 16.353996101364523%,
        var(--color-lightTone, rgb(191, 51, 19)) 77.35485380116958%
      );
      flex: none;
      left: calc(50.00000000000002% - 100% / 2);
    }

    .image_content {
      @apply relative w-full flex-none cursor-pointer overflow-visible opacity-100 sm:h-[241px] md:h-[441px] lg:h-[678px];
      filter: contrast(1.23) grayscale(0.14);
      will-change: transform;
      transform: perspective(1200px);

      .image_container {
        @apply absolute;
        border-radius: inherit;
        inset: 0px;

        img {
          @apply block h-full w-full;
          border-radius: inherit;
          object-position: center center;
          object-fit: contain;
        }
      }

      .text_runner {
        @apply absolute z-[-1] h-[320px] w-full sm:top-[-69px] md:top-[46px] lg:top-[196px];
        left: calc(50.00000000000002% - 100% / 2);

        section {
          @apply m-0 flex h-full max-h-full w-full max-w-full list-none place-items-center overflow-hidden p-[10px] opacity-100;

          ul {
            @apply relative m-0 flex h-full w-full list-none place-items-center gap-[50px] p-0;

            .wrapper {
              @apply relative flex h-[127px] w-min shrink-0 flex-nowrap items-center justify-center gap-[10px] overflow-hidden p-0;

              .text_container {
                @apply relative flex h-auto w-auto shrink-0 flex-col justify-start whitespace-pre outline-none;
              }
            }
          }
        }
      }

      .background_gradient-2 {
        @apply absolute bottom-0 left-0 h-[182px] w-full flex-none overflow-hidden sm:h-[52px] md:h-[72px];
        background: linear-gradient(
          180deg,
          rgba(84, 84, 84, 0) 41.63993900835976%,
          var(--color-darkTone, rgb(0, 0, 0)) 100%
        );
        @media only screen and (max-width: 809px) {
          left: calc(50.00000000000002% - 100% / 2);
        }
      }
    }
  }

  .service_section {
    @apply relative z-[1] flex h-min w-full flex-none items-center justify-center overflow-visible;
    will-change: transform;
    transform: perspective(1200px);

    ._container {
      @apply relative flex h-min max-w-[1440px] flex-col flex-nowrap items-start justify-center gap-[60px] p-0 sm:gap-[40px];
      flex: 1 0 0px;

      .heading {
        @apply relative z-[1] flex w-full flex-none flex-col flex-nowrap justify-center gap-[30px] overflow-hidden p-0 sm:items-center md:items-end;

        .content_1 {
          @apply relative z-[1] h-auto w-full flex-none sm:max-w-none md:max-w-[1440px];

          .box {
            @apply relative flex h-min w-full max-w-full flex-col flex-nowrap items-start justify-center gap-[20px] overflow-visible p-0;
          }
        }
      }

      .service_container {
        @apply relative flex h-min w-full flex-none flex-col flex-nowrap items-center justify-center gap-[10px] overflow-visible p-0;

        ._grid {
          @apply relative h-min w-full flex-none justify-center gap-[10px] overflow-visible p-0 sm:flex sm:flex-col sm:items-center md:grid;
          grid-auto-rows: min-content;
          grid-template-columns: repeat(2, minmax(200px, 1fr));
          grid-template-rows: repeat(2, min-content);
        }
      }
    }
  }

  .aboutUs_section {
    @apply relative z-[1] flex w-full flex-none flex-col flex-nowrap items-center overflow-visible sm:h-min sm:justify-center sm:gap-[100px] sm:px-[12px] sm:py-[50px] md:h-[120vh] md:justify-between md:gap-0 md:px-[20px] md:py-[80px] lg:pt-[40px] lg:pb-[50px];

    .backGround_img {
      @apply absolute z-[1] h-full w-full flex-none overflow-hidden;
      filter: contrast(2) grayscale(0.48);
      left: calc(50.00000000000002% - 100% / 2);
      opacity: 0.6;
      top: calc(50.00000000000002% - 100% / 2);

      div {
        @apply absolute inset-0;

        img {
          @apply block h-full w-full;
          border-radius: inherit;
          object-position: center center;
          object-fit: cover;
        }
      }
    }

    .overlay {
      @apply absolute bottom-0 z-[1] h-full w-full flex-none overflow-hidden;
      background: radial-gradient(
        45.1% 44.7% at 52.6% 42.8%,
        var(--color-lightTone, #d94c00) 0%,
        var(--color-darkTone, rgb(0, 0, 0)) 100%
      );
      left: calc(50.00000000000002% - 100% / 2);
      mix-blend-mode: multiply;
      opacity: 0.91;

      @media only screen and (max-width: 809px) {
        height: 100%;
        bottom: unset;
        top: calc(49.964763918252316% - 99.92952783650459% / 2);
      }
    }

    .topContent {
      @apply relative flex h-min w-min flex-none flex-nowrap items-center justify-center gap-[10px] overflow-visible pe-[16px];

      .statistics {
        @apply relative z-[1] grid h-min w-min flex-none justify-center p-0;
        grid-auto-rows: minmax(0, 1fr);
        grid-template-columns: repeat(4, minmax(170px, 1fr));
        grid-template-rows: repeat(1, minmax(0, 1fr));
        @media only screen and (max-width: 809px) {
          grid-template-columns: repeat(2, minmax(170px, 1fr));
        }

        ._item {
          @apply relative h-full w-full flex-none self-start justify-self-start;

          ._circleBox {
            @apply relative flex h-[187px] w-[187px] flex-col flex-nowrap items-center justify-center gap-[3px] overflow-hidden rounded-full bg-whiteo10 p-[54px];
            backdrop-filter: blur(5px);

            ._circleContent {
              @apply relative flex w-min flex-col items-center justify-center overflow-visible;

              .-heading {
                @apply relative flex h-[31px] w-auto shrink-0 flex-col justify-start whitespace-pre outline-none;

                p {
                  @apply font-Unbounded text-[40px] leading-[0.8em] text-white;
                  letter-spacing: -0.05em;
                }
              }

              .-subText {
                @apply relative z-[1] flex h-auto w-auto shrink-0 flex-col justify-start whitespace-pre outline-none;
              }
            }
          }
        }
      }
    }

    .bottomContent {
      @apply relative flex-none flex-nowrap flex h-min w-full max-w-[1440px] flex-col items-start justify-center gap-[23px] overflow-hidden p-0;

      ._content1 {
        @apply relative z-[1] flex flex-none flex-nowrap h-min w-full items-center justify-center gap-[10px] overflow-hidden p-0 sm:flex-col md:flex-row md:gap-[3px];
      }

      ._content2 {
        @apply relative flex h-min w-full flex-none flex-row flex-wrap content-center items-center justify-center gap-[8px] overflow-hidden px-[80px];

        .-itemContainer {
          @apply relative z-[1] h-auto w-auto;

          .-itemBox {
            @apply relative flex h-min w-min items-center justify-center gap-[4px] overflow-hidden rounded-full bg-whiteo10 px-[20px] py-[10px];
            backdrop-filter: blur(5px);

            .-icon {
              @apply relative h-[20px] w-[20px];
            }

            .-text {
              @apply relative flex h-auto w-auto shrink-0 flex-col justify-start whitespace-pre outline-none;
            }
          }
        }
      }
    }
  }

  .video_section {
    @apply relative z-[1] flex h-min w-full flex-[0_0_auto] items-center gap-[60px] overflow-visible p-0;
    flex-flow: row;

    ._container {
      @apply relative mx-auto flex h-min max-w-[1440px] flex-[1_0_0px] items-center gap-[60px] overflow-hidden pb-[100px] sm:gap-[30px] sm:pb-[50px];
      flex-flow: column;

      .bgGradient {
        @apply absolute top-[-107px] z-[0] h-[148px] w-[589px] overflow-hidden rounded-full bg-lightTone;
        left: calc(46.6667% - 294.5px);
        filter: blur(67px);
      }

      ._videoContainer {
        @apply relative flex h-min w-full max-w-full flex-[0_0_auto] gap-[10px] overflow-hidden px-[40px] sm:px-[12px];
        flex-flow: row;
        @media only screen and (max-width: 809px) {
          flex-flow: column;
        }

        ._videoBox {
          @apply relative flex h-min flex-col items-center gap-[20px] overflow-hidden rounded-[30px] bg-whiteo10 px-[10px] pt-[10px] pb-[20px] sm:flex-none md:flex-[1_0_0px];

          .video {
            @apply relative h-auto w-full flex-[0_0_auto] overflow-hidden rounded-[30px];
            aspect-ratio: 1.77778/1;

            iframe {
              @apply absolute top-0 left-0 h-full w-full;
            }
          }
        }

        ._titleBox {
          @apply relative flex h-min w-full flex-[0_0_auto] flex-col items-center overflow-hidden p-0;
        }
      }
    }
  }

  .whyUs_section {
    @apply relative z-[1] flex h-min w-full flex-none items-center justify-center overflow-visible;
    will-change: transform;
    transform: perspective(1200px);

    ._container {
      @apply relative flex h-min max-w-[1440px] flex-col flex-nowrap items-start justify-center gap-[60px] p-0 sm:gap-[40px];
      flex: 1 0 0px;

      .heading {
        @apply relative z-[1] flex w-full flex-none flex-col flex-nowrap justify-center gap-[30px] overflow-hidden p-0 sm:items-center md:items-end;

        .content_1 {
          @apply relative z-[1] h-auto w-full flex-none sm:max-w-none md:max-w-[1440px];

          .box {
            @apply relative flex h-min w-full max-w-full flex-col flex-nowrap items-start justify-center gap-[20px] overflow-visible p-0 sm:gap-0;
          }
        }

        .content_2 {
          @apply relative flex h-min w-full flex-none flex-nowrap items-center gap-[10px] overflow-visible p-0 sm:justify-center lg:justify-end;

          ._textRichContainer {
            @apply relative flex h-auto max-w-[500px] flex-[1_0_0px] shrink-0 flex-col justify-start whitespace-pre-wrap outline-none sm:text-center lg:text-left;
            word-break: break-word;
            word-wrap: break-word;
          }
        }
      }

      .whyUs_container {
        @apply relative flex h-min w-full flex-none flex-col flex-nowrap items-center justify-center gap-[10px] overflow-hidden p-0;

        .-content_flex {
          @apply relative flex w-full items-center gap-[10px] overflow-hidden  sm:flex-col md:flex-row;
        }

        ._content-center {
          @apply justify-center sm:h-[879px] md:h-[460px];

          .item1 {
            @apply relative flex flex-col items-start justify-end overflow-hidden rounded-[30px] p-[30px] sm:h-[1px] sm:w-full sm:flex-[1_0_0px] sm:gap-[20px] md:h-full md:w-[1px] md:flex-[2_0_0px] md:gap-[9px] lg:gap-[20px];

            ._background-img {
              @apply absolute inset-0 border-inherit;

              img {
                @apply block h-full w-full border-inherit object-cover;
                object-position: center center;
              }
            }

            ._background-gradient {
              @apply absolute inset-0 z-[0] flex-none overflow-hidden;
              background: linear-gradient(
                243deg,
                rgba(84, 84, 84, 0) 54.70541257678578%,
                var(--color-darkTone, rgb(0, 0, 0)) 84.420754785216%
              );
            }

            ._heading {
              @apply relative flex h-min flex-col items-start overflow-hidden sm:w-full md:w-1/2;

              ._text {
                @apply text-white sm:h-[53px] md:h-[70px] lg:h-[90px];
              }
            }

            ._description {
              @apply relative flex h-min w-full items-center justify-center gap-[10px] overflow-hidden rounded-[20px] py-[10px] pe-[10px];
              backdrop-filter: blur(5px);
            }
          }

          .item2 {
            @apply relative flex flex-col items-center overflow-hidden rounded-[30px] p-[30px] sm:h-min sm:flex-none sm:gap-[40px] md:h-full md:flex-[1_0_0px] md:justify-between;
            background-color: var(--color-lightBlack, #1f1d1d);

            ._heading {
              @apply relative flex h-min w-full flex-col items-start overflow-hidden;
            }
          }
        }

        ._content-end {
          @apply justify-end md:h-[460px] sm:h-min;

          .item1 {
            @apply relative flex flex-col flex-nowrap items-center justify-center gap-[10px] overflow-hidden rounded-[30px] sm:h-min sm:w-full sm:flex-none md:h-full md:w-[1px] md:flex-[1_0_0px] lg:flex-[.5_0_0px];

            ._background-img {
              @apply absolute inset-0 border-inherit;

              img {
                @apply block h-full w-full border-inherit object-cover;
                object-position: center center;
              }
            }
          }

          .item2 {
            @apply relative flex md:h-full flex-col items-center justify-between md:gap-[10px] overflow-hidden rounded-[30px] bg-lightTone p-[30px] sm:h-min sm:w-full sm:flex-none sm:justify-center sm:gap-[40px] md:flex-[.7_0_0px] md:gap-0 lg:flex-[.5_0_0px];

            ._heading {
              @apply relative flex h-min w-full flex-none flex-col items-start justify-center overflow-hidden text-darkTone;
            }
          }
        }
      }
    }
  }
}
