@theme {
    --font-Unbounded: 'Unbounded', sans-serif;
    --font-Satoshi: 'Satoshi', sans-serif;
    --font-Winky: 'Winky Sans', sans-serif;

    --color-lightTone: #F58327;
    --color-darkTone: #0A0A0A;
    --color-text: #0A0A0A;
    --color-lightGray: rgba(51, 66, 50, 0.05);
    --color-mediumGray: rgba(56, 64, 54, 0.5);
    --color-blacko5: rgba(13, 13, 13, 0.05);
    --color-blacko10: rgba(13, 13, 13, 0.1);
    --color-black: rgba(13, 13, 13, 1);
    --color-white: rgba(255, 255, 255, 1);
    --color-whiteo5: rgba(255, 255, 255, 0.05);
    --color-whiteo10: rgba(255, 255, 255, 0.1);
    --color-whiteo15: rgba(255, 255, 255, 0.15);
    --color-whiteo30: rgba(255, 255, 255, 0.3);
    --color-whiteo50: rgba(255, 255, 255, 0.5);
    --color-whiteo80: rgba(255, 255, 255, 0.8);
    --color-lightBlack: #1F1D1D;
}

@layer base {
    h1 {
        @apply font-Unbounded font-normal text-white text-[70px] leading-[0.9em];
        letter-spacing: -3px;
        paragraph-spacing: 1px;
    }

    h1.inner-page {
        @apply font-Unbounded font-normal text-white text-[50px] leading-[1.1em];
        letter-spacing: -0.05em;
        paragraph-spacing: 40px;
    }

    h2 {
        @apply font-Unbounded font-normal text-white text-[40px] leading-[1.1em];
        letter-spacing: -1.8px;
        paragraph-spacing: 40px;
    }

    h3 {
        @apply font-Unbounded font-normal text-white text-[20px] leading-[1.3em];
        letter-spacing: -0.1px;
        paragraph-spacing: 40px;
    }

    h4 {
        @apply font-Unbounded font-light text-white text-[16px] leading-[150%];
        letter-spacing: -0.02em;
    }

    h5 {
        @apply font-Unbounded font-medium text-[#333333] text-[14px] leading-[1.4em];
        paragraph-spacing: 40px;
    }

    .paragraphL {
        @apply font-Satoshi font-normal text-white text-[30px] leading-[1.3em];
        letter-spacing: -0.04em;
        paragraph-spacing: 20px;
    }

    .paragraphM {
        @apply font-Satoshi font-normal text-white text-[20px] leading-[1.5em];
        letter-spacing: -0.02em;
        paragraph-spacing: 20px;
    }

    .paragraphS {
        @apply font-Satoshi font-normal text-white text-[18px] leading-[1.5em];
        letter-spacing: -0.02em;
        paragraph-spacing: 20px;
    }

    .paragraphXS {
        @apply font-Satoshi font-normal text-white text-[16px] leading-[1.5em];
        paragraph-spacing: 10px;
    }

    .bodyXXL {
        @apply font-Unbounded font-normal text-white text-[96px] leading-[1.2em];
        paragraph-spacing: 20px;
    }

    .bodyUppercase {
        @apply font-Unbounded font-normal text-white text-[20px] leading-[1.3em] uppercase;
        letter-spacing: -0.02em;
        paragraph-spacing: 20px;
    }

    .displayText {
        @apply font-Unbounded font-semibold text-white text-[50px] leading-[0.8em];
        letter-spacing: -0.05em;
    }

    .label {
        @apply font-Satoshi font-black text-white uppercase text-[11px] leading-[2em];
        paragraph-spacing: 24px;
    }

    .navText {
        @apply font-Unbounded font-normal text-text text-[12px] leading-[2em];
        letter-spacing: -0.01px;
        paragraph-spacing: 20px;
    }

    .footerLink {
        @apply text-white no-underline hover:text-white hover:underline;
    }

    .link {
        @apply text-white no-underline hover:text-lightTone hover:underline;
    }
}