@theme {
  /* font */
  --font-Unbounded: "Unbounded", sans-serif;
  --font-Satoshi: "Satoshi", sans-serif;
  --font-Inter: "Inter", sans-serif;

  /* color */
  --color-lightTone: #f58327;
  --color-darkTone: #0a0a0a;
  --color-text: #0a0a0a;
  --color-lightGray: rgba(51, 66, 50, 0.05);
  --color-mediumGray: rgba(56, 64, 54, 0.5);
  --color-blacko5: rgba(13, 13, 13, 0.05);
  --color-blacko10: rgba(13, 13, 13, 0.1);
  --color-black: rgba(13, 13, 13, 1);
  --color-white: rgba(255, 255, 255, 1);
  --color-whiteo5: rgba(255, 255, 255, 0.05);
  --color-whiteo10: rgba(255, 255, 255, 0.1);
  --color-whiteo15: rgba(255, 255, 255, 0.15);
  --color-whiteo30: rgba(255, 255, 255, 0.3);
  --color-whiteo50: rgba(255, 255, 255, 0.5);
  --color-whiteo80: rgba(255, 255, 255, 0.8);
  --color-lightBlack: #1f1d1d;

  /* breakpoint */
  --breakpoint-sm: 0px;
  --breakpoint-md: 810px;
  --breakpoint-lg: 1200px;

  /* aspect retro */
  --aspsect-retro: auto;
}

@layer base {
  h1 {
    @apply font-Unbounded leading-[0.9em] font-normal text-white sm:text-[36px] sm:leading-[1em] md:text-[52px] lg:text-[70px];
    letter-spacing: -3px;
    paragraph-spacing: 1px;
  }

  .h1-inner-page {
    @apply font-Unbounded leading-[1.1em] font-normal text-white sm:text-[27px] md:text-[40px] lg:text-[50px];
    letter-spacing: -0.05em;
    paragraph-spacing: 40px;
  }

  h2 {
    @apply font-Unbounded leading-[1.1em] font-normal text-white sm:text-[28px] md:text-[36px] lg:text-[40px];
    letter-spacing: -1.8px;
    paragraph-spacing: 40px;
  }

  h3 {
    @apply font-Unbounded leading-[1.3em] font-normal text-white sm:text-[18px] sm:leading-[1.4em] md:text-[20px] md:leading-[1.4em];
    letter-spacing: -0.1px;
    paragraph-spacing: 40px;
  }

  h4 {
    @apply font-Unbounded leading-[150%] font-light text-white sm:text-[14px] md:text-[16px];
    letter-spacing: -0.02em;
  }

  h5 {
    @apply font-Unbounded text-[14px] leading-[1.4em] font-medium text-[#333333];
    paragraph-spacing: 40px;
  }

  .paragraphL {
    @apply font-Satoshi leading-[1.3em] font-normal text-white sm:text-[22px] md:text-[26px] lg:text-[30px];
    letter-spacing: -0.04em;
    paragraph-spacing: 20px;
  }

  .paragraphM {
    @apply font-Satoshi text-[20px] leading-[1.5em] font-normal text-white;
    letter-spacing: -0.02em;
    paragraph-spacing: 20px;
  }

  .paragraphS {
    @apply font-Satoshi text-[17px] leading-[1.5em] font-normal text-white lg:text-[18px];
    letter-spacing: -0.02em;
    paragraph-spacing: 20px;
  }

  .paragraphXS {
    @apply font-Satoshi text-[16px] leading-[1.5em] font-normal text-white;
    paragraph-spacing: 10px;
  }

  .bodyXXL {
    @apply font-Unbounded leading-[1.2em] font-normal text-white sm:text-[46px] md:text-[52px] lg:text-[96px];
    paragraph-spacing: 20px;
  }

  .bodyUppercase {
    @apply font-Unbounded text-[16px] leading-[1.3em] font-normal text-white uppercase lg:text-[20px];
    letter-spacing: -0.02em;
    paragraph-spacing: 20px;
  }

  .displayText {
    @apply font-Unbounded leading-[0.8em] font-semibold text-white sm:text-[35px] md:text-[41px] lg:text-[50px];
    letter-spacing: -0.05em;
    @media only screen and (max-width: 809px) {
      paragraph-spacing: 10px;
    }
  }

  .label {
    @apply font-Satoshi text-[12px] leading-[2em] font-black text-white uppercase lg:text-[11px];
    paragraph-spacing: 24px;
  }

  .navText {
    @apply font-Unbounded text-[12px] leading-[2em] font-normal text-text;
    letter-spacing: -0.01px;
    paragraph-spacing: 20px;
  }

  .footerLink {
    @apply text-white no-underline hover:text-white hover:underline;
  }

  .link {
    @apply text-white no-underline hover:text-lightTone hover:underline;
  }
}
