.header {
  @apply fixed top-0 right-0 left-0 z-20 bg-black lg:bg-transparent lg:backdrop-blur-md;

  .__container {
    @apply mx-auto flex h-[64px] items-center justify-between pr-3 pl-5 lg:h-[74px] lg:px-10 lg:py-2.5;
  }

  .__logo {
    @apply text-2xl font-bold text-lightTone;

    img {
      @apply h-[44px] w-fit object-cover;
    }
  }

  ._nav{
    @apply border border-whiteo15 rounded-full bg-black flex flex-none items-center flex-nowrap h-min h-min justify-end overflow-hidden p-[10px] relative w-min;
    backdrop-filter: blur(5px);
    box-shadow: rgba(0, 0, 0, 0.32) 0px -9px 22px 0px;

    ._linkContainer{
      @apply flex-none h-[40px] relative w-auto;

      ._link{
        @apply h-full rounded-full flex items-center cursor-pointer flex-nowrap gap-[10px] justify-center overflow-hidden px-[20px] relative w-min no-underline transition-all duration-500 ease-in-out uppercase;

        .overlay {
          @apply bg-whiteo30 flex-none left-[-17%%] overflow-visible absolute top-[-84%] w-[111px] z-0 rounded-full transform;
          aspect-ratio: 1/1;
          height: var(--aspect-retro, 111px);
        }
        

        ._text{
          @apply justify-start flex-none h-auto relative whitespace-pre w-auto; 

          p{
            @apply text-white;
          }
        }
      }

      ._link.active{
        @apply rounded-full bg-whiteo10;

        p{
          @apply text-lightTone;
        }
      }
    }
    ._linkContainer:hover{

      ._link{
        @apply scale-90 transition-transform duration-500 ease-in-out;
      }
    }
  }
  
  .__hamburger {
    @apply flex h-[44px] w-[44px] flex-col items-center justify-center gap-2.5 rounded-[10px] bg-whiteo10 lg:hidden;

    .__line {
      @apply h-[2px] w-5 rounded-[10px] transition-all duration-200;
    }
  }

  .__nav-mobile {
    @apply flex h-[320px] flex-col bg-black px-5 pt-10 transition-all duration-700 lg:hidden;

    .active {
      @apply rounded-[220px] bg-whiteo10 text-lightTone;
    }

    a {
      @apply flex h-16 w-full items-center justify-center px-5 text-white;
    }
  }
}
