.header {
  @apply fixed top-0 right-0 left-0 z-20 bg-black lg:bg-transparent lg:backdrop-blur-md;

  .__container {
    @apply mx-auto flex h-[64px] items-center justify-between pr-3 pl-5 lg:h-[74px] lg:px-10 lg:py-2.5;
  }

  .__logo {
    @apply text-2xl font-bold text-lightTone;

    img {
      @apply h-[44px] w-fit object-cover;
    }
  }

  ._nav {
    @apply relative hidden h-min w-min flex-none flex-nowrap items-center justify-end overflow-hidden rounded-full border border-whiteo15 bg-black p-[10px] lg:flex;
    backdrop-filter: blur(5px);
    box-shadow: rgba(0, 0, 0, 0.32) 0px -9px 22px 0px;

    ._linkContainer {
      @apply relative h-[40px] w-auto flex-none;

      ._link {
        @apply relative flex h-full w-min cursor-pointer flex-nowrap items-center justify-center gap-[10px] overflow-hidden rounded-full px-[20px] uppercase no-underline transition-all duration-500 ease-in-out;

        .overlay {
          @apply absolute top-[-84%] left-[-17%%] z-0 w-[111px] flex-none transform overflow-visible rounded-full bg-whiteo30;
          aspect-ratio: 1/1;
          height: var(--aspect-retro, 111px);
        }

        ._text {
          @apply relative h-auto w-auto flex-none justify-start whitespace-pre;

          p {
            @apply text-white;
          }
        }
      }

      ._link.active {
        @apply rounded-full bg-whiteo10;

        p {
          @apply text-lightTone;
        }
      }
    }

    ._linkContainer:hover {
      ._link {
        @apply scale-90 transition-transform duration-500 ease-in-out;
      }
    }
  }

  .__hamburger {
    @apply flex h-[44px] w-[44px] flex-col items-center justify-center gap-2.5 rounded-[10px] bg-whiteo10 lg:hidden;

    .__line {
      @apply h-[2px] w-5 rounded-[10px] transition-all duration-200;
    }
  }

  .__nav-mobile {
    @apply flex flex-col bg-black px-5 py-10 transition-all duration-700 lg:hidden overflow-hidden ease-in-out;

    .active {
      @apply rounded-[220px] bg-whiteo10 text-lightTone;
    }

    a {
      @apply flex h-16 w-full items-center justify-center px-5 text-white;
    }
  }

  .open{
    @apply transition-all duration-300 ease-in-out overflow-hidden;
  }

  .close{
    @apply transition-all duration-300 ease-in-out overflow-hidden;
  }
}
